<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @image1.image.url if @image1.image? %>
</p>

<%= link_to 'Edit', edit_image1_path(@image1) %> |
<%= link_to 'Back', image1s_path %>
